* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4fcb2; /* cor de fundo suave como na imagem */
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  font-size: 32px;
  color: #75b79e;
  margin: 40px 0;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(6, 117px);
  gap: 24px;
  justify-content: center;
  align-content: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.card {
  width: 117px;
  height: 146px;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  background-color: #a7e9af;
  border: 1px solid #99cea8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s;
}

.front-face {
  z-index: 2;
  transform: rotateY(0deg);
}

.back-face {
  transform: rotateY(180deg);
}

.card.flipped .front-face {
  transform: rotateY(-180deg);
}

.card.flipped .back-face {
  transform: rotateY(0deg);
}

.card img {
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 600px) {
  header h1 {
    font-size: 40px;
  }
  .cards-container {
    grid-template-columns: repeat(1, 117px);
  }
}
