* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: #75b79e;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 40px auto;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 47px auto;
}
.card {
  width: 100px;
  height: 100px;
  perspective: 1000px;
  cursor: pointer;
  margin: 10px;
}
.card img {
  width: 100px;
  height: 100px;
}
.face {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 117px;
  height: 146px;
  background-color: #a7e9af;
  border-radius: 4px;
  border: 1px solid #99cea8;
  backface-visibility: hidden;
  position: absolute;
}
.front-face,
.back-face {
  transition: transform 0.6s;
}

.card .front-face {
  transform: rotateY(0deg);
  z-index: 2;
}

.card .back-face {
  transform: rotateY(180deg);
}

.card.flipped .front-face {
  transform: rotateY(-180deg);
}

.card.flipped .back-face {
  transform: rotateY(0deg);
}
